/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 4rem;
  color: #4ACAA8;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  color: #4ACAA8;
}
h3 {
  font-size: 2rem;
  padding-bottom: 10px;
  color: #4ACAA8;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 650px) {
  .container {
    width: 90%;
  }
}
a {
  text-decoration: none;
}
.navbar {
  height: 70px;
  background-color: #4ACAA8;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  z-index: 100;
}
@media (max-width: 650px) {
}
.navbar nav {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .navbar nav {
    margin-bottom: 10px;
  }
}
.navbar nav a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.logo {
  width: 70px;
  height: 70px;
  color: black;
}
@media (max-width: 650px) {
}
.logo h3 {
  color: black;
  padding-bottom: 0;
}
.logo img {
  width: 100%;
  height: 100%;
}
.img-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  filter: blur(4px);
  transform: scale(1.01);
}
.img-container .img-text {
  color: #FFFFFF;
  position: absolute;
  width: 400px;
  background-color: black;
  background: rgba(52, 27, 43, 0.5);
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
@media (max-width: 650px) {
  .img-container .img-text {
    width: 300px;
  }
}
.img-container .img-text h2 {
  color: #FFFFFF;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  width: 300px;
  margin: 20px auto;
}
.img-container .img-text p {
  width: 250px;
  margin: auto;
}
.img-container .img-text .button {
  margin: 10px auto;
  width: 60%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: auto;
  background-color: transparent;
  border-radius: 2px;
  text-align: center;
  font-size: 2rem;
  color: #FFFFFF;
  cursor: pointer;
  border: 2px solid #FFFFFF;
}
.img-container .img-text .button p {
  width: 100%;
}
.main-content {
  width: 100%;
  margin: 0 auto;
  padding: 0 0%;
}
/* ---------- Styling for solution section ---------- */
.solution {
  margin: 0 auto;
  padding: 20px 0;
}
.solution .solution-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .solution .solution-container {
    text-align: center;
    flex-direction: column;
  }
}
.solution .solution-container h1 {
  margin: 20px 0;
}
.solution .solution-container p {
  font-size: 1.6rem;
  color: #777777;
}
.solution .solution-container .button {
  margin: 50px auto;
  margin-left: 0;
  box-shadow: 5px 10px 8px #888888;
  width: 400px;
  height: 70px;
  padding-top: 20px;
  padding-bottom: auto;
  background-color: #5C6AC4;
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .solution .solution-container .button {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: auto;
    background-color: #5C6AC4;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
    cursor: pointer;
    padding-bottom: 10px;
  }
}
.solution .solution-container .button p {
  font-size: 2rem;
  color: #FFFFFF;
  padding-bottom: 0px;
}
.solution .solution-container .small-image {
  text-align: right;
}
.solution .solution-container .small-image img {
  box-shadow: 5px 10px 8px #888888;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .solution .solution-container .small-image {
    text-align: center;
  }
}
.solution .solution-container .small-image img {
  width: 80%;
  height: 80%;
}
@media (max-width: 550px) {
  .solution .solution-container .small-image img {
    width: 100%;
    height: 100%;
  }
}
/* ---------- Styling for features section ---------- */
.features {
  background-color: #4ACAA8;
  padding: 30px 0;
}
.features .feature {
  display: flex;
  align-items: center;
  padding: 0 50px;
  margin: 30px 0;
}
@media (max-width: 750px) {
  .features .feature {
    display: flex;
    flex-direction: column;
  }
}
.features .feature .text {
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 30px;
}
.features .feature h3 {
  color: #FFFFFF;
}
.features .feature p {
  color: #FFFFFF;
}
.features .feature img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 30px;
  filter: grayscale(100%);
}
@media (max-width: 650px) {
  .features .feature img {
    margin-bottom: 50px;
    height: 200px;
  }
}
.features .feature-reverse {
  display: flex;
  align-items: center;
  padding: 0 50px;
  margin: 30px 0;
}
@media (max-width: 750px) {
  .features .feature-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
.features .feature-reverse .text {
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 30px;
}
.features .feature-reverse h3 {
  color: #FFFFFF;
}
.features .feature-reverse p {
  color: #FFFFFF;
}
.features .feature-reverse img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 30px;
  filter: grayscale(100%);
}
@media (max-width: 650px) {
  .features .feature-reverse img {
    margin-bottom: 50px;
    height: 200px;
  }
}
.features .feature-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 650px) {
  .features .feature-container {
    flex-direction: column;
  }
}
.features .feature-container .track {
  width: 25%;
  text-align: center;
  border-radius: 50%;
  margin: 20px 0;
}
@media (max-width: 650px) {
  .features .feature-container .track {
    width: 100%;
  }
}
.features .feature-container .track p {
  font-size: 1rem;
  margin: 15px 7px;
}
/* ---------- Styling for customer review section ---------- */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.customer-reviews {
  padding-bottom: 80px;
  padding-top: 100px;
  text-align: center;
  height: 420px;
}
@media (max-width: 600px) {
  .customer-reviews {
    height: 550px;
  }
}
.customer-reviews h2 {
  color: #4ACAA8;
  padding-bottom: 30px;
}
.customer-reviews .review {
  width: 40%;
  margin: 0 auto;
  margin-top: 40px;
  opacity: 1;
  animation: fadein 0.5s;
}
@media (max-width: 650px) {
  .customer-reviews .review {
    width: 100%;
  }
}
.customer-reviews .review-hide {
  display: none;
}
.customer-reviews img {
  width: 150px;
  border-radius: 50%;
  box-shadow: 5px 10px 8px #888888;
  margin-bottom: 10px;
}
.customer-reviews .about {
  font-size: 1rem;
}
.customer-reviews p {
  font-size: 1.3rem;
  color: #777777;
}
/* ---------- Styling for FAQ section ---------- */
.faqs {
  text-align: center;
  background-color: #4ACAA8;
  padding-top: 30px;
  padding-bottom: 30px;
}
.faqs h2 {
  color: #FFFFFF;
}
.faqs .faq-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 650px) {
  .faqs .faq-container {
    flex-direction: column;
  }
}
.faqs .faq-container .faq {
  width: 40%;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  color: black;
}
@media (max-width: 650px) {
  .faqs .faq-container .faq {
    width: 100%;
  }
}
.faqs .faq-container .faq p {
  font-size: 1.3rem;
}
.faqs .faq-container .question {
  font-weight: bold;
  font-style: italic;
}
/* ---------- Styling for subscribe section ---------- */
.subscribe {
  text-align: center;
  height: 300px;
  padding-top: 100px;
}
.subscribe .button-container {
  margin: 0 auto;
  width: 400px;
}
@media (max-width: 650px) {
  .subscribe .button-container {
    width: 100%;
  }
}
.subscribe .button-container .button {
  margin: 50px 0;
  box-shadow: 5px 10px 8px #888888;
  width: 400px;
  height: 70px;
  padding-top: 20px;
  padding-bottom: auto;
  background-color: #5C6AC4;
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 650px) {
  .subscribe .button-container .button {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: auto;
    background-color: #5C6AC4;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
    cursor: pointer;
    padding-bottom: 10px;
  }
}
.subscribe .button-container .button p {
  font-size: 2rem;
  color: #FFFFFF;
  padding-bottom: 0px;
}
footer {
  height: 70px;
  background-color: #F6F6F6;
  padding: 20px 0;
  padding-top: 40px;
}
@media (max-width: 650px) {
  footer {
    margin-top: 50px;
  }
}
.footer-content {
  width: 80%;
  margin: 0 auto;
}
.footer-content .contact {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  margin-top: 40px;
}
@media (max-width: 650px) {
  .footer-content .contact {
    width: 60%;
  }
}
.footer-content .copyright {
  text-align: center;
}
.team {
  background-color: #F6F6F6;
  padding-top: 100px;
}
@media (max-width: 650px) {
  .team {
    text-align: center;
  }
}
.team h2,
.team h3 {
  color: black;
}
.team h3 {
  margin: 0 auto 20px 18%;
}
@media (max-width: 650px) {
  .team h3 {
    margin: auto;
  }
}
.team .team-member {
  padding: 50px 15% 50px 15%;
  display: flex;
  background-color: #F6F6F6;
}
@media (max-width: 650px) {
  .team .team-member {
    flex-direction: column;
  }
}
.team .team-member h3 {
  margin-left: 0;
}
@media (max-width: 650px) {
  .team .team-member h3 {
    margin-bottom: 20px;
  }
}
.team .team-member:hover {
  background-color: #FFFFFF;
}
.team .team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 3%;
  box-shadow: 5px 10px 8px #888888;
}
@media (max-width: 650px) {
  .team .team-member img {
    margin: 30px auto;
  }
}
@media (max-width: 650px) {
  .team .team-member p {
    margin-bottom: 20px;
  }
}
.team .team-member a {
  text-decoration: none;
}
.faq-container {
  padding: 60px 20%;
  background-color: #F6F6F6;
}
@media (max-width: 650px) {
  .faq-container {
    padding: 30px 10%;
  }
}
.faq-content {
  margin-bottom: 40px;
}
.accordion {
  background-color: #FFFFFF;
}
.accordion .panel {
  padding: 30px;
  border: 1px solid #F6F6F6;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.accordion .panel .panel-bar {
  display: flex;
  align-items: center;
}
.accordion .panel .panel-bar h3 {
  font-weight: lighter;
  padding-bottom: 0px;
}
.accordion .panel .panel-bar .panel-buttons {
  margin-right: 20px;
}
.accordion .panel .panel-bar .panel-buttons button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F6F6F6;
  border: none;
}
.accordion .panel .panel-bar .panel-buttons button:focus {
  outline: 0;
}
.accordion .panel .panel-bar .panel-buttons .hide-btn {
  display: none;
}
.accordion .panel .panel-content {
  height: 0px;
  overflow: hidden;
  margin-left: 57px;
  margin-top: 0px;
  transition: height 0.5s, margin-top 0.5s ease-in-out;
}
