//Styling of main body of landing page (index.html)

.main-content {
    width: 100%;
    margin: 0 auto;
    padding: 0 0%;
}


/* ---------- Styling for solution section ---------- */
.solution {
    margin: 0 auto;
    padding: 20px 0;

    .solution-container {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1200px) {
            text-align: center;
            flex-direction: column; 
        }

        h1 {
            margin: 20px 0;
        }

        p {
            font-size: 1.6rem;
            color: @font-color;
        } 

        .button {
            margin: 50px auto;
            margin-left: 0;
            box-shadow: 5px 10px 8px #888888;
            .button(400px, 70px, 20px, auto, #5C6AC4, 5px, @white); 

            @media (max-width: 1200px) {
                .button(100%, 50px, 10px, auto, #5C6AC4, 5px, @white); 
                padding-bottom: 10px;
            }
            
            p {
                font-size: 2rem;
                color: @white;
                padding-bottom: 0px;
            }
        }

        .small-image {
            text-align: right;

            img {
                box-shadow: 5px 10px 8px #888888;
                border-radius: 5px;
            }

            @media (max-width: 1200px) {
                text-align: center;
            }

            img {
                width: 80%;
                height: 80%;

                @media @mobile {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


/* ---------- Styling for features section ---------- */

.features {
    background-color: @green;
    padding: 30px 0;

    .feature-container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @media @mobile {
            // flex-direction: column;
        } 
    }

    .feature {
        display: flex;
        align-items: center;
        padding: 0 50px;
        margin: 30px 0;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            padding: 0 20px;
        }

        .text {
            border-bottom: 2px solid @white;
            padding-bottom: 30px;
        }
        
        h3 {
            color: @white;
        }

        p {
            color: @white;
        }

        img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;
            filter: grayscale(100%);

            @media (max-width: 1000px) {
                margin-bottom: 50px;
                margin-right: auto;
                margin-left: auto;
                height: 250px;
            }
        }
    }

    .feature-reverse {
        display: flex;
        align-items: center;
        padding: 0 50px;
        margin: 30px 0;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column-reverse;
            padding: 0 20px;
        }

        .text {
            border-bottom: 2px solid @white;
            padding-bottom: 30px;
        }
        h3 {
            color: @white;
        }

        p {
            color: @white;
        }

        img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            margin: 0 30px;
            filter: grayscale(100%);

            @media (max-width: 1000px) {
                margin-bottom: 50px;
                height: 250px;
            }
        }
    }
}


/* ---------- Styling for customer review section ---------- */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.customer-reviews {
    // padding-bottom: 80px;
    // padding-top: 100px;
    padding: 100px 10px 80px 10px;
    text-align: center;
    height: 420px;

    @media @tablet {
        height: 550px;
    }

    h2 {
        color: @green;
        padding-bottom: 30px;
    }

    .review {
        width: 40%;
        margin: 0 auto;
        margin-top: 40px;
        opacity: 1;
        animation: fadein .7s;

        @media (max-width: 1000px) {
            width: 80%;
        }

        @media @mobile {
            width: 100%;
        }
    }

    .review-hide {
        display: none;
    }

    img {
        width: 150px;
        border-radius: 50%;
        box-shadow: 5px 10px 8px #888888;
        margin-bottom: 10px;
    }

    .about {
        font-size: 1rem;
    }

    p {
        font-size: 1.3rem;
        color: @font-color;
    }
}


/* ---------- Styling for subscribe section ---------- */

.subscribe {
    text-align: center;
    height: 300px;
    padding-top: 100px;
    background-color: #F6F6F6;

    @media @mobile {
        height: 400px;
    }
    
    .button-container {
        margin: 0 auto;
        width: 400px;

        @media @mobile {
            width: 100%;
        }

        .button {
            margin: 50px 0;
            box-shadow: 5px 10px 8px #888888;
            .button(400px, 70px, 20px, auto, #5C6AC4, 5px, @white); 
    
            @media @mobile {
                .button(100%, 50px, 10px, auto, #5C6AC4, 5px, @white); 
                padding-bottom: 10px;
            }
            
            p {
                font-size: 2rem;
                color: @white;
                padding-bottom: 0px;
            }
        }    
    }
}