.navbar {
    height: 70px;
    background-color: @navigation-border;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;

    nav {
        display: flex;
        width: 200px;
        justify-content: space-between;
    }
}

.logo {
    width: 150px;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}