.team {
    background-color: #F6F6F6;
    padding-top: 100px;

    h3 {
        margin: 0 auto 20px 18%;
        color: black;

        @media @tablet {
            margin: auto;
            text-align: center;
        }
    }

    .team-member {
        padding: 50px 15% 50px 15%;
        display: flex;
        background-color: #F6F6F6;

        @media @tablet {
            flex-direction: column;
        }

        h3 {
            margin-left: 0;

            @media @tablet {
                margin-bottom: 20px;
            }
        }

        &:hover {
            background-color: @white;
        }

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-right: 3%;
            box-shadow: 5px 10px 8px #888888;

            @media @tablet {
                margin: 30px auto;
            }
        }

        p {
            @media @tablet {
                margin-bottom: 20px;
            }
        }

        a {
            text-decoration: none;
        }
    }
}