.team {
    background-color: #F6F6F6;
    padding-top: 100px;

    h2, h3 {
        color: black;
    }

    h3 {
        margin: 0 auto 20px 18%;
    }

    .team-member {
        padding: 50px 15% 50px 15%;
        display: flex;
        background-color: #F6F6F6;

        h3 {
            margin-left: 0;
        }

        &:hover {
            background-color: @white;
        }

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-right: 3%;
        }

        a {
            text-decoration: none;
        }
    }
}